name: test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: vmactions/dragonflybsd-vm@v1
    - run: |
        pwd
        ls -lah
        whoami
        env
        uname -a

