name: test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: vmactions/dragonflybsd-vm@v1
      with:
        run: |
          ./.github/script/dfbsd.sh
